{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}


  </article>
  <div class="publication">
    <h2 class="publication-title">{{ title }}</h2>
    <p class="authors">{{ post.authors }}</p>
    <p class="venue">In {{ post.venue }}, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
    <div class="links">
      {% if post.arxiv %}
        <a href="{{ post.arxiv }}" class="link arxiv">arXiv</a>
      {% endif %}
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" class="link pdf">PDF</a>
      {% endif %}
      {% if post.code %}
        <a href="{{ post.code }}" class="link code">Code</a>
      {% endif %}
      {% if post.semanticscholar %}
      <a href="{{ post.semanticscholar }}" class="link semanticscholar">Semantic Scholar</a>
    {% endif %}
    </div>
  </div>


</div>
